name: Build macOS

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build macOS DMG
        run: ./gradlew packageDmg

      - name: Rename macOS DMG
        run: |
          cd composeApp/build/compose/binaries/main/dmg
          mv *.dmg ChessAnalysis-macos.dmg

      - name: Upload macOS DMG
        uses: actions/upload-artifact@v4
        with:
          name: macos-dmg
          path: composeApp/build/compose/binaries/main/dmg/ChessAnalysis-macos.dmg
