name: Build Linux DEB

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-linux-deb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build Linux DEB
        run: ./gradlew packageDeb

      - name: Rename Linux DEB
        run: |
          cd composeApp/build/compose/binaries/main/deb
          mv *.deb ChessAnalysis-linux.deb

      - name: Upload Linux DEB
        uses: actions/upload-artifact@v4
        with:
          name: linux-deb
          path: composeApp/build/compose/binaries/main/deb/ChessAnalysis-linux.deb
