name: Build Linux ARM64

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-linux-arm64:
    runs-on: ubuntu-24.04-arm64
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build Linux ARM64 DEB
        run: ./gradlew packageDeb

      - name: Rename Linux ARM64 DEB
        run: |
          cd composeApp/build/compose/binaries/main/deb
          mv *.deb ChessAnalysis-linux-arm64.deb

      - name: Upload Linux ARM64 DEB
        uses: actions/upload-artifact@v4
        with:
          name: linux-arm64-deb
          path: composeApp/build/compose/binaries/main/deb/ChessAnalysis-linux-arm64.deb
