name: Build Linux

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build Linux Distributable
        run: ./gradlew createDistributable

      - name: Create Linux ZIP
        run: |
          cd composeApp/build/compose/binaries/main/app
          zip -r ../ChessAnalysis-linux.zip .

      - name: Upload Linux App
        uses: actions/upload-artifact@v4
        with:
          name: linux-app
          path: composeApp/build/compose/binaries/main/ChessAnalysis-linux.zip
